# gRPC and Protocol Buffers
grpclib~=0.4.6
betterproto==2.0.0b6

# HTTP requests library
requests>=2.31.0

# Development and linting tools
black==23.11.0 # Black code formatter
flake8==6.1.0  # Flake8 for linting
isort==5.12.0  # Isort for sorting imports
